<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>

   

    <div class="a">
        <form action="/add" method="POST">
            <div class="b">
                <label for="title">Username</label>
                <input type="text" name="username" id="title">
            </div>

            <button type="submit">Username</button>

        </form>
    </div>

</body>
</html>
